.typing-animation {
  font-size: 52px;
  font-weight: 400;
  color: #3c2844;
  margin: 0;
  min-height: auto;
  display: inline;
  align-items: center;
  justify-content: flex-start;
  font-family: 'ADLaM Display', cursive;
  text-align: left;
}

.typing-text {
  color: #3c2844;
  font-weight: 400;
  margin-left: 0;
  display: inline;
  line-height: 1;
}

.typing-text-purple {
  color: #3c2844;
  font-weight: 400;
  margin-left: 0;
  display: inline;
  line-height: 1;
}

.typing-cursor {
  color: #3c2844;
  font-weight: 300;
  margin-left: 3px;
}

@media (max-width: 768px) {
  .typing-animation {
    font-size: 48px;
    min-height: auto;
  }
}
